.clearfix{
  *zoom: 1;
}
.clearfix:before{
  content: '';
  display: table;
}
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}
.background{
	background-image: url(../img/background.jpg);
	background-size: cover;
	border-bottom: 1px solid #000;
}
.main{
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
.logo{
	padding-top: 70px;
	float: left;
	padding-bottom: 150px;
	width: 18%;
}
.logo a{
	text-decoration: none;
}
.logo__name1{
	font-family: LeagueGothic;
	font-size: 48px;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
	text-transform: uppercase;
	letter-spacing: -0.5px;
}
.logo__name2{
	font-family: LeagueGothic;
	font-size: 48px;
	color: #734f82;
	text-transform: uppercase;
	letter-spacing: -0.5px;
}
.topmenu{
	float: right;
    width: 82%;
	padding-top: 78px;
}
.menu{
	margin-left: 13%;
}
.menu__item{
	float: left;
	list-style: none;
	margin-left: 8%;
	-o-margin-left: 7%;
}
.menu__link:first-child{
}
.menu__item:last-child{
}
.menu__link{
	display: inline-block;
	text-decoration: none;
	font-family: 'LeagueGothic';
	/*margin-left: 7%;*/
	font-size: 24px;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
}
.menu__link:hover{
	border-bottom: 2px solid #edbfff;
}
.overlay{
	position: relative;
	clear: both;
}
.overlay__arrows-left{
	position: absolute;
	background: url(../img/arrows.png) 0 0 no-repeat;
	height: 40px;
	width: 30px;
    right: 117%;
    top: 28%;
    z-index: 1;
}
.overlay__arrows-right{
	position: absolute;
    background: url(../img/arrows.png) -30px 0 no-repeat;
    height: 40px;
    width: 30px;
    right: -20%;
    top: 28%;
    z-index: 1;
}
.overlay:before{
/*	content: "";
	background: rgba(0,0,0,0.3);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;*/
}
.test{
	position: absolute;
	width: 100%;
	min-width: 1354px;
	height: 400px;
	background: rgba(0,0,0,0.3);
	left: -200px;
	top: 15px;
}
.main-text{
	width: 50%;
	float: left;
	position: relative;
	z-index: 1;
	padding-top: 93px;
}
.text{
	font-family: LeagueGothic;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.text__title{
	font-size: 60px;
	color: #fefefe;
}
.text__subtitle{
	font-size: 32px;
	color: #edbfff;
	text-transform: uppercase;
}
.text__main{
	padding-top: 10px;
	font-family: OpenSans, sans-serif;
	font-size: 18px;
	color: #fff;
}
.iphone {
	position: relative;
	z-index: 2;
	float: right;
	padding-bottom: 40px;
	padding-right: 73px;
}
.iphone__img{
	padding-left: 19px;
}
.check-bottom-iphone{
	clear: both;
	float: right;
	padding-right: 166px;
	padding-top: 95px;
	padding-bottom: 55px;
}
.check__form label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 17px;
    font-size: 13px;
}
.check input[type=radio] {
    display: none;
}
.check label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 8px;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.check input[type=radio]:checked + label:before {
    content: "\2022";
    color: #FFF;
    font-size: 33px;
    text-align: center;
    line-height: 16px;
}
/*<!-- =====slider====== -->*/
.slider1 {
	position:relative;
	padding-top:39%;
	padding-bottom: 5%;
	}

.slider__check {
		position:absolute;
		clip:rect(0 0 0 0);
		overflow:hidden;
		}
	.slider__image {
		position:absolute;
		top:0;
		left:59%;
		}
	.slider__label {
		overflow:hidden;
		margin-left: 0.3%;
		margin-top: 14%;
		display:inline-block;
		width:16px;
		height:16px;
		background-color: rgba(0,0,0,0.3);
		border-radius:50%;
		text-indent:-9999px;
		}
.slider__label1 {
		margin-left: 74%;
		overflow:hidden;
		/*margin-left: 10%;*/
		display:inline-block;
		width:16px;
		height:16px;
		background-color: rgba(0,0,0,0.3);
		border-radius:50%;
		text-indent:-9999px;
		}

/* Display */
.slider__image {
	display:none;
	}
.slider__check:checked + .slider__label + .slider__image {
	display:block;
	}

.slider__check:checked + .slider__label1 + .slider__image {
	display:block;
	}

/* Current */
.slider__check:checked + .slider__label {
	background-color: #FFF;
	width:16px;
	height:16px;
	}

.slider__check:checked + .slider__label1 {
	background-color: #FFF;
	width:16px;
	height:16px;
	}

.slider1__main-text{
	position:absolute;
	top: 16%;
	left:0;
	width: 45%
}

.slider1-text{
	font-family: LeagueGothic;
	text-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.slider1__text-title{
	font-size: 60px;
	color: #fefefe;
}

.slider1__text-subtitle{
	font-size: 32px;
	color: #edbfff;
	text-transform: uppercase;
}

.slider1__text-main{
	padding-top: 10px;
	font-family: OpenSans, sans-serif;
	font-size: 18px;
	color: #fff;
}
/*<!-- =====slider ends====== -->*/
.purple-background{
	background-image: -webkit-linear-gradient(bottom, #322539, #745083);
	background-image: -moz-linear-gradient(bottom, #322539, #745083);
	background-image: -o-linear-gradient(bottom, #322539, #745083);
	background-image: -ms-linear-gradient (bottom, #322539, #745083);
	-ms-background-image: linear-gradient (bottom, #322539, #745083);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#322539', 
            endColorstr='#745083',GradientType=0);
	background-image: linear-gradient(to top, #322539, #745083);
	width: 100%;
	border-bottom: 2px solid #0d151b;
}
.purple-background960px{
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
.about1{
	position: relative;
	float: left;
	width: 24%;
	padding-top: 8%;
    padding-left: 7%;
    padding-bottom: 8%;
}
.about1:before{
	content: "";
	width: 28px;
	height: 28px;
	background: url(../img/sprites.png) 0 0 no-repeat;
	position: absolute;
	right: 0px;
	left: 11px;
	top: 83px;
}
.about1__title-text{
	font-family: LeagueGothic;
	font-size: 30px;
	color: #fff;
	text-shadow: 1px 1px #0f1518;
	text-transform: uppercase;
}
.about1__main-text{
	font-family: OpenSans, sans-serif;
	font-size: 16px;
	padding-top: 9px;
	line-height: 1.3;
	color: #fff;
	text-shadow: 1px 1px #0f1518;
	padding-bottom: 15%;
}
.about1_link{
	font-family: LeagueGothic;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 160px;
}
.about1_link:hover{
	text-shadow: 0 0 8px rgba(255,255,255,.8);
}
.about--2{
	padding-left: 12%;
}
.about--2:before{
	background: url(../img/sprites.png) -32px 0 no-repeat;
	position: absolute;
	right: 0px;
	left: 60px;
}
.about--3{
	float: right;
}
.about--3:before{
	background: url(../img/sprites.png) -64px 0 no-repeat;
	position: absolute;
	right: 0px;
	left: 19px;
}
.link--3{
	padding-left: 169px;
}
.white-background{
	width: 100%;
	background: #f9f9f9;
}
.white-background960px{
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
.white-form{
	float: left;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	width: 45%;
    margin-top: 10%;
    margin-left: 2%;
	background-color: #fff;
}
.about--news{
	padding-bottom: 41px;
	width: 360px;*/
	padding-left: 10%;
	padding-top: 8%;
	width: 85%;

}
.about--news:before{
	content: "";
	width: 50px;
	height: 51px;
	background: url(../img/sprites2.png) 0 0 no-repeat;
	position: absolute;
	right: 0px;
	left: -22px;
	top: 21px;
}
.about1__title-text--news{
	position: relative;
	color: #454545;
	text-shadow: none;
}
.about1__title-text--news span{
	color: #edbfff;
}
.about1__main-text--news{
	color: #454545;
	text-shadow: none;
}
.check--comment{
	float: left;
    width: 9%;
    clear: both;
    padding-left: 21%;
    padding-top: 1%;
    margin-bottom: 6%;

}
.check--comment1 label:before {
    background-color: rgb(255,255,255);
}
.check--comment1 input[type=radio]:checked + label:before {
    color: #000;
    font-size: 44px;
}
.news{
	float:right;
	width: 47%;
	margin-top: 13%;
}
.news__title{
	font-family: LeagueGothic;
	text-transform: uppercase;
	font-size: 30px;
	color: #454545;
	text-shadow: 1px 1px #fff;
	margin-bottom: 19px;
	margin-right: 310px;
	margin-top: 2px;
}
.news__link{
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-family: OpenSans, sans-serif;
	font-size: 18px;
	color: #454545;
	text-shadow: 1px 1px #fff;
	font-weight: bold;
	margin-left: 66px;
}
.news__link:before{
	content: "";
	width: 50px;
	height: 51px;
	background: url(../img/sprites2.png) -49px 0 no-repeat;
	position: absolute;
	top: -5px;
	left: -65px;
}
.news__subtitle{
	font-family: OpenSans, sans-serif;
	font-size: 16px;
	color: #454545;
	margin-bottom: 18px;
	margin-left: 66px;
	line-height: 30px;
}
.news__link--last{
	text-transform: uppercase;
	font-family: LeagueGothic;
	margin-left: 347px;
}
.news__link--last:before{
	content: "";
	position: absolute;
	width: 50px;
	height: 51px;
	background: url(../img/sprites2.png) 51px 0 no-repeat;	
}
.logos{
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #e6e6e6;
	clear: both;
}
.logos__img{
	width: 100%;
	margin-top: 3%;
	margin-left: 10%;
	margin-bottom: 2%;
}
.logos_img a{
	display: inline-block;
}
.logos__link1{
	float: left;
}
.logos__icon1{
	width: 70px;
	height: 70px;
	background: url(../img/logos.png) 0 0 no-repeat;
}
.logos__link2{
	margin-left: 7%;
	float: left;
}
.logos__icon2{
	width: 70px;
	height: 70px;
	background: url(../img/logos.png) -137px 0 no-repeat;
}
.logos__link3{
	margin-left: 7%;
	float: left;
}
.logos__icon3{
	width: 70px;
	height: 70px;
	background: url(../img/logos.png) -270px 0 no-repeat;
}
.logos__link4{
	margin-left: 5%;
	float: left;
}
.logos__icon4{
	width: 70px;
	height: 70px;
	background: url(../img/logos.png) -390px 0 no-repeat;
}
.logos__link5{
	margin-left: 6%;
	float: left;
}
.logos__icon5{
	width: 110px;
	height: 70px;
	background: url(../img/logos.png) -525px 0 no-repeat;
}
.logos__link6{
	margin-left: 6%;
	float: left;
}
.logos__icon6{
	width: 80px;
	height: 70px;
	background: url(../img/logos.png) -695px 0 no-repeat;
}
.grey-background{
	width: 100%;
	background-color: #ececec;
}
.grey-background960px{
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
.logo-bottom__link{
	text-decoration: none;
}
.logo-bottom{
	width: 33%;
	float: left;
	margin-top: 10%;
	margin-bottom: 7%;
}
.logo__name1--logo-bottom{
	font-family: LeagueGothic;
	color: #454545;
	text-shadow: 0 1px #fff;
}
.logo__name2--logo-bottom{
	font-family: LeagueGothic;
	color: #b9b9b9;
	text-shadow: 0 1px #fff;
}
.about1--text-bottom{
	position: static;
	clear: both;
	width: 100%;
	float: none;
	padding-left: 0;
	padding-bottom: 0;
	padding-top: 0
}
.hidden{
	display: none;
}
.about1__title-text--bottom{
	font-family: Georgia;
	font-size: 16px;
	text-transform: none;
	font-style: italic;
	color: #c5c5c5;
	text-shadow: 1px 1px #fff;
	padding-top: 14px;
}
.about1__main-text--bottom{
	font-family: OpenSans, sans-serif;
	color: #787878;
	text-shadow: 1px 1px #fff;
}
.about1--text-bottom:before{
	content: "";
	width: 0;
	height: 0;
}
.about1--comments{
	float: left;
	width: 30%;
	margin-top: 10%;
	margin-left: 3%;
	margin-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
}
.about1--comments:before{
	content: '';
	width: 0px;
	height: 0px;
}
.about1__title-text--comments{
	color: #454545;
	text-shadow: none;
}
.about1__main-text--comments{
	font-family: OpenSans, sans-serif;
	color: #787878;
	text-shadow: 1px 1px #fff;
}
.background-bottom{
	background-image: url(../img/background-bottom.png);
	background-size: cover;
}
.background-bottom960{
	margin: 0 auto;
	width: 100%;
	max-width: 960px;
}
.bottom-menu{
	line-height: 114px;
}
.menu--bottom{
	width: 70%;
	float: left;
	margin-left: 0;
}
.menu__link--bottom{
	font-size: 20px;
}
.menu__item--bottom{
	margin-right:7%;
	margin-left: 0;
}
.menu__item--bottom:first-child{
	padding-left: 0;
}
.menu__link--bottom:hover{
	border-bottom: none;
}
.bottom-menu-copyright{
	width: 25%;
	float: right;
	font-family: OpenSans, sans-serif;
	font-size: 12px;
	color: #fff;
	text-shadow: 1px 2px 2px rgba(0,0,0,.4);
}
.float{
	float: right;
}
.bottom-menu-copyright span{
	font-weight: bold;
}
/*=====768 off=====*/
/*==480px ends==*/
@media screen and (min-width: 961px){
.main-text{
	display: none;
}
.text{
	display: none;
}
.text__main{
	display: none;
}
.iphone{
	display: none;
}
.check-bottom-iphone{
	display: none;
}
}